<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.pappu.apdf"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="APDF Viewer"
        android:theme="@style/Theme.NoActionBar">
        <activity
            android:name="au.pappu.apdf.MainActivity"
            android:label="APDF Viewer">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
    </application>

</manifest>
